
.body {

}

.gauge__wrap {
  position: absolute;
  left: 100px;
  top: 50px;
}

.gauge {
  fill: none;
}

.gauge__center {
  fill: #1e98e4;
}

.gauge__grey {
  stroke: #676767;
}

.gauge__yellow {
  stroke: #ffa500;
}

.gauge__red {
  stroke: #f00;
}

.gauge__polygon {
  fill: #1e98e4;
}

.gauge__arrow {
  left: 0px;
  top: 0px;
  position: absolute;
  -webkit-transition: transform 1s linear;
     -moz-transition: transform 1s linear;
      -ms-transition: transform 1s linear;
       -o-transition: transform 1s linear;
          transition: transform 1s linear;
}


.division {
  position: absolute;
  left: -22px;
  top: -20px;
  display: inline-block;
  width: 360px;
  height: 360px;

}

.dot {
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 2px;
  background: #d9d9d9;
}

.special-dot {
  background: transparent;
  width: 4px;
  background: #f00;
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 15px;
  color: #666;
  -webkit-transform-origin: center left;
     -moz-transform-origin: center left;
      -ms-transform-origin: center left;
       -o-transform-origin: center left;
          transform-origin: center left;
}

.value {
  position: absolute;
  left: 20px;
  top: 0px;
}

